################################################################################
#                               🧩 APPLICATION 🧩                              #
################################################################################

APP_ENV=${APP_ENV}
APP_DEBUG=${APP_DEBUG}
APP_SECRET=${APP_SECRET}

################################################################################
#                               🌐 NGINX / API 🌐                              #
################################################################################

NGINX_CONF=${NGINX_CONF}
VITE_APP_ENV=${VITE_APP_ENV}
VITE_FRONTEND_URL=${VITE_FRONTEND_URL}
VITE_FRONTEND_API_URL=${VITE_FRONTEND_API_URL}

################################################################################
#                              🛢️ DATABASE (POSTGRES) 🛢️                       #
################################################################################

POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB=${POSTGRES_DB}
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?serverVersion=16&charset=utf8


################################################################################
#                              🧩 AWS 🧩                     #
################################################################################

AWS_ACCOUNT_ID=${AWS_ACCOUNT_ID}
AWS_REGION=${AWS_REGION}
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}